.descriptions {
    background-size: 800px 400px; 
    background-position: top;
    height: 400px;
    width: 800px;    
    margin: auto;
}

#unique_culture, #reach, #locations, #cutting_edge {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10;
  text-align: center;
  display: none; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold; 
  color: white;
  padding: 5px;
  height: 400px;
  border-radius: 10px;
}

#unique_culture {
  background-color: #F07030; 
}

#reach  {
  background-color: #CD3E4C;
}

#locations {
  background-color: #6360AA;
}

#cutting_edge  {
  background-color: #2B89D0;
}

.info {
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  height: 310px;
  width: 778px;
}

.tagline_left {
  background-color: lightgrey;
  color: black;
  height: 310px;
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tagline_right {
  background-color: lightgrey;
  color: black;
  height: 310px;
  width: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  float: right;
}

.tagline_center {
  background-color: lightgrey;
  color: black;
  height: 200px;
  width: 778px;
  position: relative;
  top: 55px;
}