.descriptions {
  margin: 0 auto;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; 
  background-size: 100% 100%; 
  height: 100%;
  width: 100%;
  position: relative;
  top: 10%;
	bottom: 0;
	left: 0;
	right: 0;
  	
  padding: 10;
}

#unique_culture, #locations, #reach, #cutting_edge{
margin-top: 2%;
text-align: center;
display: none; 
font-size: 130%;
font-weight: bold; 
color: white;
padding: .5%;
height: 100%;
border-radius: 3.33%;
width: 50%;
float: left;

}

#unique_culture p, #reach p, #locations p, #cutting_edge p {
  margin-bottom: 0%;
}

#unique_culture {
    background-color: #EE6B30;
}

#reach {
    background-color: #E7442E;
}

#locations {
    background-color: #6D2B76;
}

#cutting_edge {
    background-color: #237ABC;
}

#unique_culture .info, #cutting_edge .info {
    
background-color: white;
border-radius: 10px;
margin: 1.5%;
height: 200%;
width: 97.8%;
color: black;
font-size: 100%;
font-weight: lighter;
bottom: 16.66%;
padding-bottom: 2.5%;
position: relative;
}

#reach .info {
  background-color: white;
border-radius: 10px;
margin: 1.5%;
height: 200%;
width: 97.8%;
color: black;
font-size: 90%;
font-weight: lighter;
position: relative;
}

#locations .info {
  background-color: white;
border-radius: 10px;
margin: 1.5%;
height: 200%;
width: 97.8%;
color: black;
font-size: 100%;
font-weight: lighter;
position: relative;
    overflow-y: hidden; 
}

.red_info {
  background-color: white;
  border-radius: 10px;
  height: 200%;
  width: 95%;
  color: black;
  font-size: 90%;
  bottom: 16.66%;
  padding-bottom: 10%;
  font-weight: lighter;
  position: relative;
}

#unique_culture .tagline_left {
  width: 27.7%;
  height: 150%;
  float: left;
  position: relative; 
  background: black;
  color: white;
  font-size: 75%;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  padding-bottom: 75px;
  padding-top: 75px;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom-left-radius: 10px;
}
#cutting_edge .tagline_left {
  width: 27.7%;
  height: 88px;
  float: left;
  position: relative; 
  background: black;
  color: white;
  font-size: 75%;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  padding-bottom: 85px;
  padding-top: 85px;
  border-bottom-left-radius: 10px;
}

.erg_info {
  width: 70%;
  height: 70%;
  margin-top: 0%;
  margin-left: 30%;
  font-size: 68%;
  text-align: left;
  overflow-x: hidden;  
}

.tech_info {
  width: 70%;
  height: 100%;
  margin-top: 0%;
  margin-left: 30%;
  font-size: 68%;
  text-align: left;
  overflow-x: hidden;  
}

.red_tagline {
  width: 27%;
  height: 80px;
  float: left;
  margin-bottom: 5px;
  position: relative; 
  background: black;
  color: white;
  font-size: 80%;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 30px;
  padding-bottom: 114px;
}


#purple_info{
box-sizing: border-box; 
background-color: white;
color: black;
height: 120%;
width: 98%;
position: relative;
overflow-x: hidden;
white-space: wrap;
top: 0px;
}

.info-nav {
    width: 50px;
    height: 200px;
    position: relative;
    float: left;
}

.vNav {
    position: absolute;
    float: left;
    top: 20%;
    width: 25px;
    z-index: 9999;
    list-style-type: none;
}

.vNav ul {
    position: relative;
    padding: 3px;
    padding-left: 35%;
}

.vNav ul li {
    position: relative;
    padding-bottom: 8px;
    padding-left: 35%;
    color: rgb(113, 135, 133);
}

.vNav a {
    display: block;
    width: 8px;
    height: 8px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(113, 135, 133);
    text-decoration: none;
}

.vNav a:hover {
    border-radius: 50%;
    background-color: rgb(113, 135, 133);
    text-decoration: none;
}

.vNav a.active {
    border-radius: 50%;
    background-color: rgb(207, 219, 218);
    transform: scale(1.5);
    text-decoration: none;
}

.label {
    position: relative;
    right: 100%;
    width: 100%;
    text-align: right;
    font-size: 1em;
    color: rgb(113, 135, 133);
    display: none;
}

.section01 {
    position: absolute;
    top: 0px;
}

.section02 {
    position: absolute;
    top: 230px;
}

.section03 {
    position: absolute;
    top: 460px;
}

.section04 {
    position: absolute;
    top: 690px;
}

.section05 {
    position: absolute;
    top: 920px;
}

.section06 {
    position: absolute;
    top: 1150px
}

.states {
  position: absolute;
  width: inherit;
  height: 96%;
  left: 7.3%;
    overflow-y: hidden;

  overflow-x: hidden;
}

#par img {
  float: left;
  border: 1% solid white;
  width: 30%;
  height: 80%;
  border-radius: 10px;
  top: inherit;
  position: relative;
  margin: 5px;
}

#par {
  color: black;
  font-size: 60%;
  font-style: normal;
  width: 92.7%;
  height: 100%;
}

#par p {
  height: 100%;
}

.tagline_center {
  background-color: white;
  border: solid black;
  border-width: 3px 0px 3px 0px;
  height: 70%;
  width: 73%;
  position: relative;
  margin-left: 27%;
  margin-right: 0%;
}

.scrollmenu {
  position: relative;
  width: 99%;
  height:70%;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  top: 0%;
  left: 0%;
  margin-bottom: 4%;
}

.scrollmenu a {
  display: inline-block;
  position: relative;
  color: black;
  padding: 1%;
  text-decoration: none;
  height: inherit;
  width: 30%;
}

.hor-info-nav {
  width: 73%;
  height: 100%;
  position: relative;
  text-align: center;
}

.hNav {
  position: relative;
  width: 73%;
  height: 5%;
  left: 10%;
  z-index: 9999;
  list-style-type: none;
  display: inline-block;
  top: 0%;
  text-align: center;
}

.hNav ul {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  left: 10%;
  display: block;
  height: 100%;
  width: 61.8%;
}

.hNav ul li {
    position: relative;
    color: rgb(113, 135, 133);
    display: inline;
}

.hNav a{
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  text-indent: -9999px;
  border-radius: 50%;
  border: 2px solid;
  border-color: rgb(113,135,133);
  text-decoration: none;
}

.hNav a:hover{
  border-radius: 50%;
  background-color: rgb(113,135,133);
  text-decoration: none;
}

.hNav a.active{
  border-radius: 50%;
  background-color: rgb(207,219,218);
  transform: scale(1.5);
  text-decoration: none;
}

.brands01 {
  position: relative;
  left: 0%;
}

.brands02 {
  position: absolute;
  left: 120%;  

}

.brands03 {
  position: absolute;
  left: 240%;
  bottom: 5%;
}

.brands04 {
  position: absolute;
  left: 360%;

}

.brands05 {
  position: absolute;
  left: 480%;

}

.brands06 {
  position: absolute;
  left: 600%;

}

#brand {
  color: black;
  font-size: 14px;
  font-style: normal;
  width: 100%;
  height: 80%;
  padding-bottom: 5%;
  top: 5%;
}


