#logo {
  /* background-image: url("../images/nbclogo/nbclogo_new1.png"); */
  background-position: top;
  background-size: 63% 48%; 
  height: 63%;
  width: 48%;
   

  position: relative;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  	
  margin: auto;
  padding: 10;
  float: none;
}

#half-circle {
    background-color: white;
    opacity: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 10px solid white;
    border-bottom: 0;
}

#half-circle:hover {
    opacity: 0.2;
    cursor: pointer;
}

.orange_area {
  width: 19%;
  height: 23%;
  transform: rotate(-45deg);
  
  position: absolute;
  top: 23%;
  left: 5.8%;
}

.red_area {
  width: 18.33%;
  height: 20%;
  transform: rotate(-7.5deg);
  position: absolute;
  top: 0%;
  left: 27.5%;
}

.purple_area {
  width: 18.33%;
  height: 20%;
  transform: rotate(7.5deg);
  
  position: absolute;
  top: 0%;
  right: 27.5%;
}
.blue_area {
  width: 19%;
  height: 23%;
  transform: rotate(45deg);
  
  position: absolute;
  top: 23%;
  right: 5.8%;
}