#programs #internship {
position: relative;
box-sizing: border-box;

background: blue;
float: left;
  width: 50%;
  height: 200px;
  padding: 30px;  
  border: 10px solid blue;
}



#programs #associates {
position: relative;
box-sizing: border-box;  
background: green;
float: right;
  width: 50%;
  height: 200px;
  padding: 30px;  
  border: 10px solid green;
}


