
img {
position: relative;
  width: 10%;
  height: auto;
}

h2
{
    color:white;
    font-size:2vw;
}



.internship {
position: relative;
box-sizing: border-box;

background: #cf3434;
float: left;
  width: 50%;
  height: auto;
  padding: 30px;  
  font-size: 16px;
  cursor: pointer;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.internship:hover {
  background-color: darkred;
}


/* The actual popup */
.internship .popuptext {
  visibility: hidden;
  width: 100%;
  height: auto;
  background-color: #cf3434;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 0%;
  
}


/* Toggle this class - hide and show the popup */
.internship .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}







.associates {
position: relative;
box-sizing: border-box;  
float: right;
  width: 50%;
  height: auto;
  padding: 30px;  

cursor: pointer;
    background-color: #4d4bc1;
       -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.associates:hover {
  background-color: darkslateblue;
}


/* Popup container - can be anything you want */


/* The actual popup */
.associates .popuptext2 {
  visibility: hidden;
  width: 100%;
  height: auto;
  background-color: #4d4bc1;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 0%;
  
}

/* Toggle this class - hide and show the popup */
.associates .show2 {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

